<h1>Log in</h1>

<%= form_with(url: login_path, scope: :session, local: true) do |f| %>

  <%= f.label :email %> <br>
  <%= f.email_field :email %> <br> <br>
  <%= f.label :password %> <br>
  <%= f.password_field :password %> <br> <br>
  <%= f.submit 'Log in' %>
<% end %>

<%= link_to 'See all the posts!', posts_path %>
