<%= @user.errors.full_messages unless @user.errors.empty? %>
<h1>Sign Up</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name, size: 50 %><br><br>

  <%= f.label :email %><br>
  <%= f.email_field :email, size: 50 %><br><br>

  <%= f.label :password %><br>
  <%= f.password_field :password, size: 50 %><br><br>

  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation, size: 50 %><br><br>

  <%= f.submit 'Create your account' %>
<% end %>

<br>

<%= link_to 'Home', root_path %>